@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Screentime_Tracker.Shared
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Screentime Data</PageTitle>

<h1>Screentime Data</h1>

<p>This component demonstrates fetching your screentime data from the server.</p>

@if (screentimeEntries == null)
{
    <p><em>Loading...</em></p>
}
else if (screentimeEntries.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Website Link</th>
                <th>Time Spent (minutes)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in screentimeEntries)
            {
                <tr>
                    <td>@entry.WebsiteLink</td>
                    <td>@entry.TimeSpent</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No screentime data to display.</p>
}

@code {
    private ScreentimeEntryDto[]? screentimeEntries;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            screentimeEntries = await Http.GetFromJsonAsync<ScreentimeEntryDto[]>("Screentime");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
